.div {
  background-color: #fafafd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-top: 40px;
  margin-left: 20px;
  margin-left: 20px;
}
.yusufjoncon {
  display: flex;
  gap: 20px;
}
.div a {
  display: flex;
}
